<main>
  <app-navbar class="navbar-grid navBar"></app-navbar>
  <app-conteudo-post class="conteudo-post"></app-conteudo-post>

  <app-resumo class="resumo"></app-resumo>
  <app-discurssoes class="resumo discurssoes"></app-discurssoes>
  <app-footer class="footer"></app-footer>
</main>




<!-- 
    

    <form>
      Assunto:
      <input class="subject" placeholder="Defina um tópico sucinto para notificar os autores...">
      Conteúdo:

      <button>Enviar</button>
    </form>

    <h3>Após submeter o formulário, a seguinte mensagem deve ser exibida: Aguardando feedback dos autores</h3>
  </div>
  </div>
 

</div> -->
