<div class="conteudo-post">
  <app-cabecalho class="cabecalho"></app-cabecalho>

  <section class="container-conteudo">
    <div class="video">
      <img src="../assets/videoapresentacao.png" alt="" />
    </div>
  </section>

  <div class="titulo">
    <h2>
      Análise sensorial de preparações funcionais desenvolvidas para escolares
      entre 09 e 15 anos, do município de Campinas/SP
    </h2>
  </div>

  <div class="buttons">
    <button>
      <img src="../assets/download.png" alt="" class="download" />Download
    </button>
    <button><img src="../assets/start.png" alt="" /></button>
    <button><img src="../assets/doi.png" alt="" /></button>

    <h3>Como citar esse trabalho?</h3>
  </div>

  <section class="container-conteudo-detalhes">
    <div class="detalhes">
      <div><h2>DETALHES</h2></div>
      <div class="descricao">
        <div>
          <p>
            Tipo de Apresentação: <strong>Pôster</strong> Eixo temático:
            <Strong>Alimentação e saúde (AS)</Strong> Palavras-chaves:<strong
              >Alimentos funcionais, alimentação escolar.</strong
            >
          </p>
        </div>
        <div>
          <p>
            <strong class="autores">Autores: <br /><br /></strong>Galileo
            Galilei¹ Berta Lange de Morretes² Isaac Newton³ Cesar Lattes¹
            Stephen Hawking⁴
          </p>
        </div>
        <div>
          <p class="nota">
            ¹Universidade Estadual de Campinas ²Universidade de São Paulo
            ³Instituto Nacional de Pesquisas Espaciais ⁴Universidade Federal do
            Rio de Janeiro
          </p>
        </div>
      </div>
    </div>
  </section>
</div>
